{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-pug/all"
    ],
    "plugins": [
        "react",
        "react-pug"
    ],
    "globals": {
        "pug": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "no-undef": 0,
        "no-console": 0,
        "react/prop-types": 0,
        "react/display-name": 0
    }
}