.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.nyc_output

logs/*
!.gitkeep
npm-shrinkwrap.json
bower_components/
tmp
.idea
coverage
supervisord.log
supervisord.pid
core.*
*.sublime-project
#/src/app/images
/src/app/css/*

*.sublime-workspace
*.xterm
.editorconfig
.jshintrc
docs

.env
.env*
!.env.sample

public/